@charset "utf-8";

.content-wrap {
  display: flex;
  justify-content: center;
}

.vscode-text-field {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.textfield-span {
  margin: 0 .3rem;
  align-self: center;
}

.vscode-button {
  width: 100%;
  margin-top: 1rem;
}

.error {
  color: red;
  font-size: 0.9em;
}